@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


@font-face {
  font-family: Skorzhen;
  src: url(./assets/fonts/FTY-SKORZHEN-NCV.ttf);
  font-weight: bold;
}

body, button {
    font-family: 'Crimson Text', serif;
}

/* Header Elements*/

#header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#steamworks {
  width: 20vmax;
  max-width: 300px;
  float: left;
}

#title {
  font-family: Skorzhen;
  margin: 2vw;
  font-size: 2em;
}

#controls {
  margin-left: 15px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Buttons
Based off of these examples:
http://cssdeck.com/labs/nice-structured-buttons-easy-to-change
https://codepen.io/simurai/pen/DwJdq?css-preprocessor=stylus
*/

.button {
  position: relative;
  border: none;
  display: inline-block;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -5px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
                    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
                    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
                                      linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}
.button:active {
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -2px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
  top: 3px;
  margin-top: 3px;

}
.button div {
  padding: 10px 20px 12px 20px;
  color: rgba(0,0,0,0.7);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}
.button:active div {
  padding-bottom: 9px;
}

/* Board */
#board {
  display: flex;
  justify-content: center;
  align-items: center;
}


table {
  border: 2px solid #62392D;
  display: inline-block;

  font-size: 1.5em;
  text-align: center;
}

td {
  border: 2px solid #62392D;
  width: 8vw;
  height: 8vw;
  min-width: 175px;
  min-height: 175px;
  overflow: hidden;
}

/* Tiles */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tile {
  height: 100%;
  vertical-align: middle;
}

label {
  display: block;
  min-height: 100%;
  vertical-align: middle;
}

input[type=checkbox]:checked ~ div {
  background-color: #aaa; /* The most simple styling... */
}

div.tile:hover {
  background-color: #eee; /* Again, the most simple styling... */
}

.unselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
